.header {
    line-height: px-to-rem(15);
    letter-spacing: px-to-rem(1.4);

    &__wrapper {
        position: relative;
        padding: px-to-rem(25) 0 px-to-rem(26);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include for-tablet-landscape-up{
            flex-direction: row;
        }
    }



    &__logo {
            // position: relative;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

        // @include for-tablet-landscape-up {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translateX(-50%) translateY(-50%);
        // }
    }

    &__logo-img {
        width: px-to-rem(200);
        height: px-to-rem(17);
    }







    &__nav-list {
        display: flex;
    }

    &__nav-item {
        margin: px-to-rem(5) px-to-rem(12) px-to-rem(5) 0;

    }

    &__nav-link,
    &__my-cart-link {
        position: relative;
        transition: all 0.1s ease-in;

        &:after {
            position: absolute;
            bottom: px-to-rem(-3);
            left: 50%;
            display: block;
            content: ' ';
            width: 0;
            height: px-to-rem(1);
            background-color: var(--color-text);
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover {

            &.header__nav-link::after,
            &.header__my-cart-link::after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }

    &__my-cart {
        margin-right: px-to-rem(30);
        padding-top: px-to-rem(2);
    }

    &__my-cart-link {
        display: block;
        margin: px-to-rem(5) px-to-rem(12);
    }
}