.header{
    
    &__wrapper{
        position: relative;
        padding: px-to-rem(25) px-to-rem(50) px-to-rem(26);
        display: flex;
        justify-content: space-between;
    }



    &__logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }
    &__logo-img{
        width: px-to-rem(200);
        height: px-to-rem(17);
    }







    &__nav-list{
        display: flex;
    }
    &__nav-item{
        margin-right: px-to-rem(24);
    }
    &__nav-link,
    &__my-cart-link {
        position: relative;
        transition: all 0.1s ease-in;

        &:after {
            position: absolute;
            bottom: px-to-rem(-3);
            left: 50%;
            display: block;
            content: ' ';
            width: 0;
            height: px-to-rem(1);
            background-color: var(--color-text);
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover {
            
            &.header__nav-link::after,
            &.header__my-cart-link::after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }
}