// брейкпойнтs
// for-phone-only               max -width 320px
// for-mobile-up                min-width 320px
// for-tablet-portrait-up       min-width 576px
// for-tablet-landscape-up      min-width 768px
// for-desktop-up               min-width 1280px
// for-big-desktop-up           min-width 1440px
 
@mixin for-phone-only {
    @media (max-width: 319px) {
        @content;
    }
}

@mixin for-for-mobile-up {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1440px) {
        @content;
    }
}


@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}




// $base-font-size: 16;
// @mixin font-size-rems($target-px-size) {
//     $rem-size: $target-px-size / $base-font-size;
//     font-size: $target-px-size * 1px;
//     font-size: $rem-size * 1rem;
// }

@function px-to-rem($px-val) {
    $rem: $px-val/16;
    @return ($rem * 1rem);
}

@mixin  transition-time($time) {
    transition: all $time * 0.1s ease-in;
}

@mixin center-text {
    &__title,
    &__text,
    &__link{
        text-align: center;
    }
}

@mixin underline-for-link {
        position: relative;
        transition: all 0.1s ease-in;

        &:after {
            position: absolute;
            bottom: px-to-rem(-3);
            left: 50%;
            display: block;
            content: ' ';
            width: 0;
            height: px-to-rem(1);
            background-color: red;
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover {

            &.banner-link::after{
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
}